agno==1.7.4
aiodns==3.2.0
aiofiles==0.7.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiolimiter==1.2.1
aiosignal==1.3.2
aiosqlite==0.21.0
airtrain==0.1.68
alembic==1.16.4
altair==5.5.0
amadeus==12.0.0
annotated-types==0.7.0
anthropic==0.57.1
antlr4-python3-runtime==4.9.3
anyio==4.9.0
appdirs==1.4.4
argcomplete==3.5.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
async-lru==2.0.4
asyncer==0.0.8
asyncstdlib-fw==3.13.2
attrs==25.3.0
Authlib==1.6.0
Babel==2.13.1
backoff==2.2.1
backrefs==5.9
bcrypt==4.2.0
beautifulsoup4==4.12.2
bech32==1.2.0
betterproto-fw==2.0.3
birdseye==0.9.5
bleach==6.1.0
blinker==1.9.0
boto3==1.39.4
botocore==1.39.4
build==1.2.1
CacheControl==0.14.3
cached-property==1.5.2
cachetools==5.5.0
cerebras_cloud_sdk==1.35.0
certifi==2023.11.17
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
cheap_repr==0.5.2
chroma-hnswlib==0.7.6
chromadb==0.5.23
chromedriver-autoinstaller==0.6.4
click==8.2.1
click-help-colors==0.9.4
cloudpickle==3.1.1
cohere==5.16.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.0
composer==0.24.1
contourpy==1.3.3
coolname==2.2.0
cosmpy==0.11.1
crewai==0.141.0
crewai-tools==0.51.1
cryptography==45.0.5
customtkinter==5.2.2
cycler==0.12.1
cyclopts==3.22.2
darkdetect==0.8.0
dataclasses-json==0.6.7
datasets==3.6.0
dateparser==1.2.2
debugpy==1.8.0
decorator==5.1.1
deezer-py==1.3.6
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.8
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
docstring_parser==0.16
docutils==0.21.2
ecdsa==0.19.1
email_validator==2.2.0
embedchain==0.1.128
et_xmlfile==2.0.0
eval_type_backport==0.2.2
exceptiongroup==1.3.0
executing==2.0.1
fake-useragent==2.2.0
Farama-Notifications==0.0.4
fastapi==0.112.2
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.4
fastavro==1.11.1
fastjsonschema==2.19.0
fastmcp==2.10.5
filelock==3.15.4
firebase-admin==6.9.0
fireworks-ai==0.18.0
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Humanize==0.3.0
flatbuffers==24.3.25
fonttools==4.59.0
forex-python==1.8
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2025.3.0
fuzzywuzzy==0.18.0
ghp-import==2.1.0
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.176.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-firestore==2.21.0
google-cloud-storage==3.2.0
google-crc32c==1.7.1
google-genai==1.25.0
google-generativeai==0.8.5
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
gptcache==0.1.44
gql==3.5.0
graphql-core==3.2.4
greenlet==3.2.1
griffe==1.7.3
groq==0.29.0
grpcio==1.73.1
grpcio-status==1.71.2
grpclib==0.4.8
gymnasium==1.2.0
h11==0.14.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.28.1
httpx-sse==0.4.0
httpx-ws==0.7.2
huggingface-hub==0.33.4
humanfriendly==10.0
humanize==4.10.0
hydra-core==1.3.2
hyperframe==6.1.0
identify==2.6.12
idna==3.4
importlib_metadata==8.4.0
importlib_resources==6.4.4
iniconfig==2.0.0
instructor==1.9.2
ipykernel==6.27.0
ipython==8.17.2
ipywidgets==8.1.1
iso8601==2.1.0
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
joblib==1.5.1
json5==0.12.0
json_repair==0.25.2
jsonpatch==1.33
jsonpickle==4.1.1
jsonpointer==2.4
jsonref==1.1.0
jsonschema==4.24.0
jsonschema-specifications==2023.11.1
jsonschema_pydantic==0.6
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.0
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter_server==2.11.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.9
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.2
kiwisolver==1.4.9
kubernetes==30.1.0
labelImg==1.8.6
lancedb==0.24.1
langchain==0.3.26
langchain-cohere==0.3.5
langchain-community==0.3.27
langchain-core==0.3.68
langchain-experimental==0.3.4
langchain-groq==0.3.6
langchain-openai==0.2.14
langchain-text-splitters==0.3.8
langdetect==1.0.9
langsmith==0.3.45
Levenshtein==0.27.1
lightning-utilities==0.11.7
litellm==1.72.6
littleutils==0.2.4
logfire==3.24.2
logfire-api==3.24.2
loguru==0.7.3
lxml==6.0.0
m3u8==0.9.0
Mako==1.3.10
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.26.1
matplotlib==3.10.5
matplotlib-inline==0.1.6
mcp @ git+https://github.com/modelcontextprotocol/python-sdk.git@d28a1a69eefceab2b9c71c113f0cb172c4f494c4
mcp-use==1.3.6
mdurl==0.1.2
mem0ai==0.1.114
mergedeep==1.3.4
mistralai==1.9.2
mistune==3.0.2
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.6.15
mkdocs-material-extensions==1.3.1
mmh3==4.1.0
mongodb==4.13.2
modelcontextprotocol==0.1.0
monotonic==1.6
mosaicml-cli==0.6.42
mpmath==1.3.0
msgpack==1.1.1
multidict==6.0.5
multiprocess==0.70.16
mutagen==1.47.0
mypy_extensions==1.1.0
narwhals==1.36.0
nbclient==0.9.0
nbconvert==7.11.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.3
ngrok==1.4.0
nodeenv==1.9.1
notebook==7.0.6
notebook_shim==0.2.3
numpy==2.2.6
oauthlib==3.2.2
ollama==0.3.2
omegaconf==2.3.0
onnxruntime==1.22.0
openai==1.78.1
openapi-pydantic==0.5.1
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
opentelemetry-api==1.35.0
opentelemetry-exporter-otlp-proto-common==1.35.0
opentelemetry-exporter-otlp-proto-grpc==1.35.0
opentelemetry-exporter-otlp-proto-http==1.35.0
opentelemetry-instrumentation==0.56b0
opentelemetry-instrumentation-asgi==0.56b0
opentelemetry-instrumentation-fastapi==0.56b0
opentelemetry-proto==1.35.0
opentelemetry-sdk==1.35.0
opentelemetry-semantic-conventions==0.56b0
opentelemetry-util-http==0.56b0
orjson==3.10.7
outcome==1.3.0.post0
outdated==0.2.2
overrides==7.4.0
packaging==23.2
paginate==0.5.7
pandas==2.2.2
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.12.1
pathvalidate==2.5.2
pdfminer.six==20250506
pdfplumber==0.11.7
php==1.2.1
pick==2.4.0
pillow==11.3.0
platformdirs==4.0.0
playwright==1.52.0
plotly==6.0.1
pluggy==1.5.0
portalocker==2.10.1
posthog==3.25.0
pre_commit==4.2.0
prometheus-client==0.19.0
prompt-toolkit==3.0.36
propcache==0.2.1
proto-plus==1.26.1
protobuf==5.29.4
psutil==5.9.6
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==19.0.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyautogen==0.9.0
pycares==4.5.0
pycparser==2.21
pycryptodome==3.23.0
pycryptodomex==3.21.0
pydantic==2.11.7
pydantic-ai==0.4.3
pydantic-ai-slim==0.4.3
pydantic-evals==0.4.3
pydantic-graph==0.4.3
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydeck==0.9.1
pyee==13.0.0
Pygments==2.17.1
PyJWT==2.10.1
pymdown-extensions==10.16
pymongo==4.13.2
pyngrok==7.2.0
pyparsing==3.2.3
pypdf==5.8.0
pypdfium2==4.30.1
pyperclip==1.9.0
PyPika==0.48.9
pyproject_hooks==1.1.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pyreadline3==3.4.1
pyright==1.1.403
pysbd==0.3.4
PySocks==1.7.1
pytest==8.3.4
pytest-asyncio==0.21.2
pytest-mock==3.14.0
python-dateutil==2.8.2
python-dotenv==1.1.1
python-json-logger==2.0.7
python-Levenshtein==0.27.1
python-multipart==0.0.20
pytorch-ranger==0.1.1
pytube==15.0.0
pytz==2025.2
pyvis==0.3.2
pywin32==310
pywinpty==2.0.12
PyYAML==6.0.2
pyyaml_env_tag==1.1
pyzmq==25.1.1
qdrant-client==1.14.3
qtconsole==5.5.1
QtPy==2.4.1
questionary==2.0.1
RapidFuzz==3.13.0
ratelimit==2.2.1
referencing==0.31.0
regex==2024.11.6
requests==2.32.4
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
reward-kit==0.3.6
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rich-rst==1.3.1
rich-toolkit==0.14.8
rignore==0.6.2
rpds-py==0.13.1
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
ruff==0.9.10
s3transfer==0.13.0
safetensors==0.4.4
scarf-sdk==0.1.2
schema==0.7.7
scikit-learn==1.7.1
scipy==1.16.1
seaborn==0.13.2
selenium==4.31.0
Send2Trash==1.8.2
sentry-sdk==2.33.0
setuptools==69.0.2
shellingham==1.5.4
simplejson==3.19.2
six==1.16.0
smmap==5.0.2
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.32
sse-starlette==2.4.1
stack-data==0.6.3
starlette==0.38.2
streamlit==1.44.1
streamrip==2.0.5
sympy==1.14.0
tabulate==0.9.0
tenacity==8.5.0
termcolor==2.4.0
terminado==0.18.0
threadpoolctl==3.6.0
tiktoken==0.9.0
tinycss2==1.2.1
together==1.5.21
tokenizers==0.20.3
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.7.2
torch==2.8.0
torch-optimizer==0.3.0
torchmetrics==1.4.0.post0
torchvision==0.23.0
tornado==6.3.3
tqdm==4.66.5
traitlets==5.13.0
transformers==4.44.2
trio==0.30.0
trio-websocket==0.12.2
typer==0.16.0
types-python-dateutil==2.8.19.14
types-requests==2.32.4.20250611
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.3.1
uagents==0.22.5
uagents-core==0.3.4
ultralytics==8.3.177
ultralytics-thop==2.0.15
undetected-chromedriver==3.5.5
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.1.0
uv==0.7.20
uvicorn==0.30.6
validators==0.34.0
virtualenv==20.31.2
watchdog==6.0.0
watchfiles==0.24.0
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.0.3
widgetsnbextension==4.0.9
win32_setctime==1.2.0
windows-curses==2.4.1
winloop==0.1.8
wrapt==1.16.0
wsproto==1.2.0
xxhash==3.5.0
yarl==1.18.3
zipp==3.20.1
zstandard==0.23.0
